html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* ///////////////////////////////// */

/* #ffd700 */
/* #900000 */
/* #800020 */

/* variables */
:root {
  --my-yellow-color: #ffd700;
  --my-red-color: #900000;
}
* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(24deg, #ffd700 4%, #900000 101%);
  align-items: center;
  box-shadow: 1px 0px 11px 1px #6e0000bf;
}

.nav-div {
  margin-right: 5px;
}

nav img {
  width: 52px;
  height: auto;
  padding: 5px;
  margin-left: 10px;
}

.nav-ul {
  display: flex;
}

nav li {
  list-style: none;
  padding: 0 10px;
}

nav li a {
  text-decoration: none;
  color: #ffd700;
  color: white;
}

.logo-div {
  color: #ffd700;
  display: flex;
  align-items: center;
  padding: 5px;
}

.current-page {
  border-bottom: #ffd700 solid 1.5px;
}

.stadium-image {
  height: 70vh;
  background-image: linear-gradient(
      24deg,
      rgb(255, 215, 0, 0.8),
      rgb(144, 0, 0, 0.8)
    ),
    url(/daniel-norin-lBhhnhndpE0-unsplash.jpg);

  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.stadium-image img {
  opacity: 0.5;
  border-radius: 13px;
  width: 99px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background: linear-gradient(188deg, #ffd700 4%, #900000 101%);
  color: white;
  padding: 11px;
}

.home-main {
  min-height: calc(100vh - 53px - 14px - 14px - 29px);
  width: 90%;
  max-width: 75%;
  margin: 14px auto;
}

.bunna-heading {
  color: wheat;
  font-size: 5.4vw;
}

.font-gradient {
  display: inline-block;
  background: -webkit-linear-gradient(
    116deg,
    var(--my-yellow-color),
    var(--my-red-color)
  );
  /* background-clip: text; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.news-card {
  border: 1px solid beige;
  width: 30%;
  padding: 4px;
  box-shadow: 0px 0px 11px 0px #ffff006e;
}

.text-center {
  text-align: center;
}

.news-card-image {
  width: 85%;
  margin: auto;
  display: block;
}
